.container {
  width: 60%;
  min-width: 600px;
  height: 80vh;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  flex-shrink: 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 0;
  background-color: white;
  border-bottom: 2px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 100;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.decimal-input {
  width: 80%;
}

.center-icon {
  text-align: center;
}

mat-icon {
  font-size: 20px;
}
