<div class="container">
  <div class="header">
    <h2>Restaurant Bill Splitter</h2>
    <h3>Total Bill: {{ totalBill.toFixed(2) }}</h3>
  </div>

  <div class="content">
    <h3>People</h3>
    <table mat-table [dataSource]="people" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let person">
          <input type="text" [(ngModel)]="person.name" placeholder="Enter name" class="text-left">
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let person; let i = index">
          <input type="text" [(ngModel)]="person.value"
                 (focus)="handleFocus($event, person)"
                 (input)="filterInput($event)"
                 (blur)="sanitizeOnBlur(person)"
                 class="text-right decimal-input">
        </td>
      </ng-container>

      <ng-container matColumnDef="sum">
        <th mat-header-cell *matHeaderCellDef>Total Share</th>
        <td mat-cell *matCellDef="let person">
          {{ person.sum.toFixed(2) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let person; let i = index" class="center-icon">
          <button mat-icon-button color="warn" (click)="removePerson(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'value', 'sum', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'value', 'sum', 'actions'];"></tr>
    </table>

    <button mat-raised-button color="primary" (click)="addPerson()"><mat-icon>add</mat-icon> Add Person</button>

    <h3>Additional Costs</h3>
    <table mat-table [dataSource]="additionalCosts" class="mat-elevation-z8">
      <ng-container matColumnDef="costName">
        <th mat-header-cell *matHeaderCellDef>Cost Name</th>
        <td mat-cell *matCellDef="let cost">
          <input type="text" [(ngModel)]="cost.name" placeholder="Enter cost name" class="text-left">
        </td>
      </ng-container>

      <ng-container matColumnDef="costValue">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let cost; let i = index">
          <input type="text" [(ngModel)]="cost.value"
                 (focus)="handleFocus($event, cost)"
                 (input)="filterInput($event)"
                 (blur)="sanitizeOnBlur(cost)"
                 class="text-right decimal-input">
        </td>
      </ng-container>

      <ng-container matColumnDef="costActions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let cost; let i = index" class="center-icon">
          <button mat-icon-button color="warn" (click)="removeAdditionalCost(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['costName', 'costValue', 'costActions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['costName', 'costValue', 'costActions'];"></tr>
    </table>

    <button mat-raised-button color="accent" (click)="addAdditionalCost()"><mat-icon>add</mat-icon> Add Additional Cost</button>
  </div>
</div>
